echo "# My-Uploaded-Games" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/FarizGaming331/My-Uploaded-Games.git
git remote add origin https://youtube.com
git push -u origin main
